:root{
  --backgroundGradOne : radial-gradient(circle at calc(100% - 1rem) calc(100% - 1rem),rgb(0, 87, 128),rgb(0, 7, 100));
  --backgroundGradTwo : radial-gradient(circle at calc(100% - 1rem) 1rem,lightgreen,green,darkgreen);
  --backgroundGradThree : radial-gradient(circle at 10rem calc(100% - 1rem),rgb(238, 208, 144),rgb(168, 90, 1),rgb(171, 63, 23));
  --backgroundGradFour : radial-gradient(circle at 10rem calc(100% - 1rem),rgb(124, 80, 236),rgb(34, 13, 170));
  --backgroundGradFive : radial-gradient(circle at 10rem calc(100% - 1rem),rgb(20, 193, 209),rgb(16, 118, 152));
}
.default-image-nobs{
  width: 100%;
  height: 45vh;
  background-image: radial-gradient(circle at 90%,blue 15%,darkblue);
  border-radius: 1rem;
}
#card-w{
  background-image: var(--backgroundGradTwo);
  color: white;
}
#card-uv{
  background-image: var(--backgroundGradThree);
  color: white;
}
#card-h{
  background-image: var(--backgroundGradOne);
  color: white;
}
#card-vb{
  background-image: var(--backgroundGradFour);
  color: white;
}
#card-d{
  background-image: var(--backgroundGradFive);
  color: white;
}
.fa-droplet-degree::before{
  content: "\f748";
  position: relative;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.main-weather-icon:first-child{
  font-size: 14rem;
  text-align: center;
}
.display-weather-icon{
  font-size: 2.33rem;
  text-align: center;
}
.fci-card1{
  background-image: linear-gradient(60deg,rgb(16 16 14),rgb(14 42 171));
  color: aliceblue;
}
.fci-cardgroup1__item{
  color: aliceblue;
  background-image: linear-gradient(60deg,rgb(28 30 44),rgb(0 125 115));
}
.fci-cardgroup2__item{
  background-image: linear-gradient(60deg,rgb(0 3 100),rgb(15 140 167 / 76%));
  color: antiquewhite;
}
.fci-cardgroup1__item > img{
  filter: drop-shadow(.125rem .25rem .375rem black);
  image-rendering:crisp-edges;
}
.fci-cardgroup2__item > img{
  filter: drop-shadow(.125rem .25rem .375rem black);
}